[submodule "kicad-components"]
	path = kicad-components
	url = https://gitlab.cern.ch/berkeleylab/kicad-components.git
[submodule "library"]
	path = library
	url = https://gitlab.cern.ch/berkeleylab/kicad-components.git
